In [9]:
import pandas as pd
import numpy as np
raw = pd.read_csv('./jobs.csv')
new = raw.drop_duplicates(subset=['company','industry'],keep='last') #以公司为重复项，显示保留第一项
new

,title,company,company_size,industry,type,salary,company_type,source,experience,education,salary2
0,招聘数据分析师,北京越铖国际科技有限公司,20-99人,人事/行政/高级管理,全职,8000-12000,民营,斗米,不限,不限,10000.0
1,数据分析师,北京新东方教育科技（集团）有限公司,NaN,计算机/互联网/信息技术,全职,12000-20000,民营,OFweek人才网,不限,不限,16000.0
2,数据分析师(新浪),新浪网技术(中国)有限公司,2000-5000人,数据分析师,全职,20000-25000,外商独资/办事处,猎聘,3-5年,本科,22500.0
3,数据分析师,北京美科思远环境科技有限公司,20-99人,环保/环境科学类,全职,12000-20000,股份制,北极星招聘,不限,硕士,16000.0
4,助理、临床样本库采样人员、软件工程师、数据库管理工程师、机械设计与结构工程师、Android...,中国人民解放军总医院（北京市解放军医学院）,NaN,医疗,全职,面议,公立医院,康强医疗人才网,不限,不限,NaN
...,...,...,...,...,...,...,...,...,...,...,...
645,数据分析工程师(清控紫荆),清控紫荆(北京)教育科技股份有限公司,50-99人,其他互联网+技术职位,全职,25000以上,民营,猎聘,3-5年,本科,25000.0
646,风险决策分析师-大数据方向009777(京东数字科技控股有限公司),京东数字科技控股有限公司,2000-5000人,能源/采掘/化工/环保,全职,面议,外商独资/办事处,猎聘,3-5年,硕士,NaN
647,数据分析工程师（物流规划）(旷视科技),北京旷视科技有限公司,2000-5000人,数据分析师,全职,面议,民营,猎聘,3-5年,本科,NaN
648,网络人工智能架构师大数据分析架构师(国内知名互联网企业),国内知名互联网企业,50-99人,IT/互联网,全职,25000以上,民营,猎聘,5-10年,本科,25000.0
649,气象数据分析工程师(航天新气象科技有限公司),航天新气象科技有限公司,100-499人,数据分析师,全职,面议,国企,猎聘,不限,本科,NaN

In [10]:
new.head(10)

,title,company,company_size,industry,type,salary,company_type,source,experience,education,salary2
0,招聘数据分析师,北京越铖国际科技有限公司,20-99人,人事/行政/高级管理,全职,8000-12000,民营,斗米,不限,不限,10000.0
1,数据分析师,北京新东方教育科技（集团）有限公司,NaN,计算机/互联网/信息技术,全职,12000-20000,民营,OFweek人才网,不限,不限,16000.0
2,数据分析师(新浪),新浪网技术(中国)有限公司,2000-5000人,数据分析师,全职,20000-25000,外商独资/办事处,猎聘,3-5年,本科,22500.0
3,数据分析师,北京美科思远环境科技有限公司,20-99人,环保/环境科学类,全职,12000-20000,股份制,北极星招聘,不限,硕士,16000.0
4,助理、临床样本库采样人员、软件工程师、数据库管理工程师、机械设计与结构工程师、Android...,中国人民解放军总医院（北京市解放军医学院）,NaN,医疗,全职,面议,公立医院,康强医疗人才网,不限,不限,NaN
5,数据分析师,世纪易联（北京）科技有限公司,NaN,计算机/互联网/信息技术,全职,5000-8000,民营,OFweek人才网,不限,本科,6500.0
7,大气源解析数据分析工程师,北京博赛德科技有限公司,20-99人,环保/环境科学类,全职,12000-20000,个人企业,北极星招聘,1-3年,硕士,16000.0
8,数据分析师,北京陆秦网络科技有限公司,NaN,计算机/互联网/信息技术,全职,8000-12000,民营,OFweek人才网,不限,不限,10000.0
9,数据分析师-dell公司（北京）,北京易微管理咨询有限公司,NaN,计算机/互联网/信息技术,全职,8000-12000,民营,OFweek人才网,不限,不限,10000.0
10,数据分析师(国美在线),国美在线电子商务有限公司,2000-5000人,数据分析师,全职,12000-20000,上市公司,猎聘,3-5年,硕士,16000.0

In [13]:
#统计数据表中的招聘岗位都来自于哪些网站,normalise比例，sort分类项是否按a-z排序，ascending结果升降序
new['source'].value_counts()

猎聘           515
OFweek人才网     33
斗米            11
普工招聘网          4
北极星招聘          3
工厂直聘网          2
百姓网            1
康强医疗人才网        1
Name: source, dtype: int64

In [14]:
#数据分析师岗位工作经验的要求
new['experience'].value_counts()

3-5年     205
1-3年     180
不限       121
5-10年     63
10年以上      4
Name: experience, dtype: int64

In [19]:
#对于教育背景的要求
new['education'].value_counts(sort=False)

本科    392
硕士     42
不限     50
初中      9
大专     24
Name: education, dtype: int64

In [23]:
#不同类型公司的职位数量
new['company_type'].value_counts()

民营          374
上市公司         50
外商独资/办事处     28
国企           28
中外合资/合作      28
事业单位          4
个人企业          2
其它            1
股份制           1
公立医院          1
Name: company_type, dtype: int64

In [16]:
#所有职位的平均工资是多少
raw['salary2'].mean()

14409.894688644688

In [17]:
#统计平均薪资（即 salary2）排在前 10 位的招聘公司及金额
raw.groupby('company')['salary2'].mean().sort_values(ascending=False).head(10)

company
xx公司                         25000.0
中建材信息技术股份有限公司                25000.0
北京某互联网公司                     25000.0
北京正东金控信息服务有限公司               25000.0
北京永利范思科技有限公司                 25000.0
中网数据(北京)股份有限公司               25000.0
清控紫荆(北京)教育科技股份有限公司           25000.0
云账户技术(天津)有限公司                25000.0
以尧企业发展（上海）有限公司               25000.0
依托数据分析的，聚合形成个人信用码的新科技平台公司    25000.0
Name: salary2, dtype: float64

In [19]:
#统计发布职位数排在前 10 位的招聘公司及其职位数量
raw['company'].value_counts(ascending=False).head(10)

深圳索信达数据技术有限公司          7
百度在线网络技术(北京)有限公司       7
车好多旧机动车经纪(北京)有限公司      7
海南小易到家电子商务有限公司上海分公司    6
苏州皇亭电子有限公司             5
贝壳找房(北京)科技有限公司         5
广联达科技股份有限公司            4
北京字节跳动网络技术有限公司         4
北京百分点信息科技有限公司          4
北京嘀嘀无限科技发展有限公司         4
Name: company, dtype: int64

In [21]:
#统计出平均工资排在前 10 位的公司类型及平均工资金额
raw.groupby('company_type')['salary2'].mean().sort_values(ascending=False).head(10)

company_type
外商独资/办事处    17468.750000
股份制         16000.000000
民营          14378.595718
上市公司        14367.346939
事业单位        14166.666667
中外合资/合作     13357.142857
个人企业        13250.000000
国企          12846.153846
其它          10000.000000
公立医院                 NaN
Name: salary2, dtype: float64